body{
margin: 0;
padding: 0;
color: black;
font-family: sans-serif;
word-wrap: break-word;
overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    color: black;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
main {
    display: block;
    background-color: var(--text-color);
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module p{
    margin-bottom: 40px;
}
section.module:last-child{
    margin-bottom: 0;
}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content{
    padding: 40px 0;
    background-color: #ece7d5;
}
section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
    background: -moz-background-size (to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
    background: -webkit-background-size (to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
    background: -o-background-size (to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
}
section.module.parallax-1{
    background-image: url(https://i.pinimg.com/originals/db/aa/68/dbaa68b5dc96d5e893223cf07c28a5a3.gif);
}
section.module.parallax-2{
    background-image: url(https://i.pinimg.com/originals/dc/42/0b/dc420b1e4798a62ab77aaab3e282a7a3.gif);
}
section.module.parallax-3{
    background-image: url(https://i.pinimg.com/originals/52/a2/99/52a29937d70a5dbdffc09c05552602b3.gif);
}

section.module.parallax h1 {
    color: #ece7d5;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

.area-1, .area-2, .area-3 {
    visibility: hidden;
}